435c657c-fa03-48bf-b75f-161be47901ee.jpg
CIS_Google_Cloud_Platform_Foundation_Benchmark_v4.0.0.pdf
CIS_Ubuntu_Linux_24.04_LTS_STIG_Benchmark_v1.0.0.pdf
Nhom11_ProgressRepport_N.pdf
Nhom11_ProgressRepport.docx
Nhom11_ProgressRepport.pdf
report-template-2023 - Copy.docx
Nhom11_ProgressRepportN.docx
Nhom01_ProgressReport.pdf
